wektor/cmake-build-debug/CMakeCache.txt
wektor/cmake-build-debug/Testing/Temporary/LastTest.log
Fotorealizm/wektor/cmake-build-debug/
Fotorealizm/wektor/cmake-build-debug/*
/wektor/cmake-build-debug/*
/wektor/cmake-build-debug/
wektor/cmake-build-debug/
wektor/cmake-build-debug/*
wektor/cmake-build-debug
Fotorealizm/wektor/cmake-build-debug

wektor\cmake-build-debug\CMakeCache.txt
wektor\cmake-build-debug\Testing\Temporary\LastTest.log
Fotorealizm\wektor\cmake-build-debug\
Fotorealizm\wektor\cmake-build-debug\*
\wektor\cmake-build-debug\*
\wektor\cmake-build-debug\
wektor\cmake-build-debug\
wektor\cmake-build-debug\*
wektor\cmake-build-debug
Fotorealizm\wektor\cmake-build-debug

wektor/cmake-build-debug/CMakeCache.txt
wektor/cmake-build-debug/cmake_install.cmake
wektor/cmake-build-debug/CMakeCache.txt
wektor/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
wektor/cmake-build-debug/CMakeFiles/clion-environment.txt
wektor/cmake-build-debug/CMakeFiles/TargetDirectories.txt
wektor/cmake-build-debug/CMakeFiles/Wektory.dir/main.cpp.obj
wektor/cmake-build-debug/CMakeFiles/Wektory.dir/Plane.cpp.obj
wektor/cmake-build-debug/CMakeFiles/Wektory.dir/Ray.cpp.obj
wektor/cmake-build-debug/CMakeFiles/Wektory.dir/Sphere.cpp.obj
wektor/cmake-build-debug/CMakeFiles/Wektory.dir/Vector.cpp.obj
wektor/cmake-build-debug/Makefile
wektor/cmake-build-debug/Testing/Temporary/LastTest.log
wektor/cmake-build-debug/Wektory.cbp
wektor/cmake-build-debug/Wektory.exe
/wektor/cmake-build-debug
wektor/cmake-build-debug/CMakeFiles/Wektory.dir/compiler_depend.make
/wektor/cmake-build-debug
wektor/CMakeLists.txt
