wektor/cmake-build-debug/CMakeCache.txt
wektor/cmake-build-debug/Testing/Temporary/LastTest.log
Fotorealizm/wektor/cmake-build-debug/
Fotorealizm/wektor/cmake-build-debug/*
/wektor/cmake-build-debug/*
/wektor/cmake-build-debug/
wektor/cmake-build-debug/
wektor/cmake-build-debug/*
wektor/cmake-build-debug
Fotorealizm/wektor/cmake-build-debug

wektor\cmake-build-debug\CMakeCache.txt
wektor\cmake-build-debug\Testing\Temporary\LastTest.log
Fotorealizm\wektor\cmake-build-debug\
Fotorealizm\wektor\cmake-build-debug\*
\wektor\cmake-build-debug\*
\wektor\cmake-build-debug\
wektor\cmake-build-debug\
wektor\cmake-build-debug\*
wektor\cmake-build-debug
Fotorealizm\wektor\cmake-build-debug

